/* Variables */
:root {
	--text-color: #5D5D7F;
	--background-color: #ffe9d3;
}
/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Custom Scrollbar */
html {
	scroll-behavior: smooth;
}
/* Global Styles */
body {
	font-family: 'Chakra Petch', sans-serif;
	background-color: var(--background-color);
	max-width: 1920px;
	margin: 0 auto;
}
/* Container */
a {
	color: var(--text-color);
	text-decoration: none;
}

/* Navbar */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: var(--text-color) 2px solid;
	padding: 50px 50px 50px 50px;
	height: 80px;
}

nav .left a {
	color: var(--text-color);
	font-size: 32px;
	font-weight: 700;
}

nav .right a {
	color: var(--text-color);
	margin: 0 10px;
	font-size: 18px;
	font-weight: 700;
}

nav .right a:last-child {
	color:var(--background-color);
	background-color: var(--text-color);
	padding: 5px 15px;
	border-radius: 5px;
}

nav .right a span {
	margin-left: 5px;
}

/* Music Player Styles */
.music-player {
	display: flex;
	align-items: center;
	gap: 10px;
	border: 2px solid var(--text-color);
	border-radius: 10px;
	padding: 2px 20px;
}

.music-player button {
	display: flex;
	align-items: center;
	text-align: center;
	width: 20px;
	background: none;
	border: none;
	color: var(--text-color);
	cursor: pointer;
	font-size: 20px;
}

.music-player button:hover {
	color: var(--text-color);
	transition: .2s;
}

.music-player input[type="range"] {
	cursor: pointer;
	height: 5px;
	border-radius: 5px;
	background: transparent;
	appearance: none;
}

.music-player input[type="range"]::-webkit-slider-runnable-track {
	background: var(--text-color);
	height: 5px;
	border-radius: 5px;
}

.music-player input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	width: 12px;
	height: 12px;
	background: var(--text-color);
	border-radius: 50%;
	cursor: pointer;
	margin-top: -3.5px;
}

/* Volume Control Styles */
.volume-control {
	display: flex;
	align-items: center;
	gap: 5px;
}

#volumeIcon {
	font-size: 20px;
	padding-right: 35px;
	color: var(--text-color);
	width: 20px;
	text-align: center;
}

.music-player input[type="range"]#progressBar {
	width: 400px;
}

.music-player input[type="range"]#volumeControl {
	width: 100px;
}

/* Hero */
.hero-section {
	color: var(--text-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 200px;
	margin: 50px 0;
	margin-bottom: 100px;
	gap: 40px;
}

.hero-section h2 {
 font-weight: 600;
}

.hero-section .text {
	flex: 5;
}

.hero-section .text h2 {
	margin-bottom: 25px;
	font-size: 45px;
}

.hero-section .links {
	margin-top: 25px;
}

.hero-section .text .links a {
	display: inline-block;
	padding: 5px 10px;
	border: 2px solid var(--text-color);
	border-radius: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	transition: .1s;
}

.hero-section .text .links a:hover {
	background-color: var(--text-color);
	color: var(--background-color);
}

.hero-section .walkingpete {
	flex: 2;
	display: flex;
	justify-content: right;
}

.hero-section .walkingpete img {
	width: 500px;
}

/* Projects Section */
.projects-section {
	color: var(--text-color);
	flex-direction: column;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 200px;;
	margin: 150px 0 250px 0;
	gap: 40px;
}

.projects-section .text {
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	margin-bottom: 25px;
}

.projects-section .text h2 {
	flex: 5;
	font-weight: 600;
	font-size: 45px;
	text-align: center;
	margin-bottom: 25px;
}

.projects-section .project-card a {
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid var(--text-color);
	border-radius: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	transition: .1s;
}

.projects-section .project-card a span {
	margin-left: 5px;
}

.projects-section .project-card a:hover {
	background-color: var(--text-color);
	color: var(--background-color);
}

.projects-section .workingpete {
	flex: 1.2;
	display: flex;
	justify-content: left;
	margin: 100px 75px 0 0;
}

.projects-section .workingpete img {
	width: 100%;
	height: auto;
	display: block;
}

.projects-section .projects-cards {
	flex: 2;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.projects-section .project-card {
	flex: 1 1 calc(50% - 20px);
	background: var(--background-color);
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Contact Section */
.contact-section {
	color: var(--text-color);
	flex-direction: column;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 200px;;
	margin: 150px 0 250px 0;
	gap: 40px;
}

.contact-section .text h2 {
	flex: 5;
	font-weight: 600;
	font-size: 45px;
	text-align: center;
	margin-bottom: 25px;
}

.contact-section .text {
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	margin-bottom: 25px;
}

.contact-content {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 40px;
	margin-top: 20px;
}

.contactpete {
	flex: 0.75;
	display: flex;
	justify-content: right;
	margin:  0 0 100px 75px;
}

.contactpete img {
	max-width: 100%;
	height: auto;
}

#contact-form {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	width: 100%;
	padding: 20px;
	background-color: var(--background-color);
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contact-form label {
	margin-top: 10px;
	text-align: left;
	font-weight: bold;
}

#contact-form input,
#contact-form textarea {
	background-color: var(--background-color);
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	border: 1px solid var(--text-color);
	border-radius: 5px;
	font-size: 16px;
	resize: none;
}

#contact-form button {
	margin-top: 20px;
	padding: 10px;
	background-color: var(--text-color);
	color: var(--background-color);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

#contact-form button:hover {
	background-color: var(--text-color);
	transition: .1s;
}

#confirmation-message {
	margin-top: 20px;
	font-size: 16px;
}

/* Extra Small Devices */
@media (min-width: 0px) and (max-width: 505px) {
	/* Navbar */
	nav {
		padding: 25px 25px 25px 25px;
	}
	nav .left a {
		font-size: 20px;
	}
	nav .right a {
		font-size: 15px;
		align-items: right;
	}
	nav .right a span {
		display: none;
	}
	nav .right a:last-child {
		color: var(--text-color);
		background-color: var(--background-color);
		padding: 0px;
	}
	/* Hero */
	.hero-section {
		flex-direction: column-reverse;
		padding: 0 25px;
	}
	.hero-section .text h2 {
		font-size: 20px;
	}
	.hero-section .text {
		text-align: center;
		font-size: 8px;
	}
	.hero-section .links a {
		font-size: 10px;
	}
	.hero-section .walkingpete img {
		width: 100px;
	}
}

/* Small Devices */
@media (min-width: 505px) and (max-width: 725px) {
	/* Navbar */
	nav {
		padding: 25px 25px 25px 25px;
	}
	nav .left a {
		font-size: 20px;
	}
	nav .right a {
		font-size: 15px;
		align-items: right;
	}
	nav .right a:last-child {
		padding: 7px;
	}
	/* Hero */
	.hero-section {
		flex-direction: column-reverse;
		padding: 0 25px;
	}
	.hero-section .text h2 {
		font-size: 25px;
	}
	.hero-section .text {
		text-align: center;
		font-size: 10px;
	}
	.hero-section .walkingpete img {
		width: 150px;
	}
}

/* Medium Devices */
@media (min-width: 726px) and (max-width: 1028px) {
	/* Navbar */
	nav {
		padding: 50px 50px 50px 50px;
	}
	nav .left a {
		font-size: 35px;
	}
	nav .right a {
		font-size: 20px;
		align-items: right;
	}
	nav .right a:last-child {
		padding: 9px;
	}
	/* Hero */
	.hero-section {
		flex-direction: column-reverse;
		padding: 0 25px;
	}
	.hero-section .text h2 {
		font-size: 35px;
	}
	.hero-section .text {
		text-align: center;
		font-size: 14px;
	}
	.hero-section .walkingpete img {
		width: 250px;
	}
}

/* Large Devices */
@media (min-width: 1029px) and (max-width: 1530px) {
	/* Navbar */
	nav {
		padding: 50px 50px 50px 50px;
	}
	nav .left a {
		font-size: 35px;
	}
	nav .right a {
		font-size: 20px;
		align-items: right;
	}
	nav .right a:last-child {
		padding: 9px;
	}
	/* Hero */
	.hero-section {
		padding: 0 200px;
	}
	.hero-section .text h2 {
		font-size: 30px;
	}
	.hero-section .text {
		font-size: 14px;
	}
	.hero-section .walkingpete img {
		margin-bottom: 100px;
		width: 250px;
	}
}

/* Extra Large Devices */
@media (min-width: 1530px) and (max-width: 2559px) {
	/* Navbar */
	nav {
		padding: 50px 50px 50px 50px;
	}
	nav .left a {
		font-size: 35px;
	}
	nav .right a {
		font-size: 20px;
		align-items: right;
	}
	nav .right a:last-child {
		padding: 9px;
	}
	/* Hero */
	.hero-section {
		padding: 0 300px;
	}
	.hero-section .text h2 {
		font-size: 40px;
	}
	.hero-section .text {
		font-size: 17px;
	}
	.hero-section .walkingpete img {
		margin-bottom: 175px;
		width: 400px;
	}
}
/* Extra Extra Large Devices */
@media (min-width: 2560px) {
	/* Navbar */
	nav {
		padding: 50px 50px 50px 50px;
	}
	nav .left a {
		font-size: 35px;
	}
	nav .right a {
		font-size: 20px;
		align-items: right;
	}
	nav .right a:last-child {
		padding: 9px;
	}
	/* Hero */
	.hero-section {
		padding: 0 300px;
	}
	.hero-section .text h2 {
		font-size: 40px;
	}
	.hero-section .text {
		font-size: 17px;
	}
	.hero-section .walkingpete img {
		margin-bottom: 175px;
		width: 400px;
	}
}